<h1>Welcome Courses API Project</h1>
<!-- <p>This is a simple Angular application.</p> -->
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet"
/>

<nav class="navbar navbar-expand mb-4">
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/courses">Courses</a>
    <a class="nav-link" routerLink="/create-course">Add Course</a>
    <a class="nav-link" routerLink="/create-instance">Add Instance</a>
    <a class="nav-link" routerLink="/instances">View Instances</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
